/**
* Display utilities
*
* Naming convention gl-display-{property-value}
*/
@mixin gl-display-none {
  display: none;
}

@mixin gl-xs-display-none {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-none;
  }
}

@mixin gl-sm-display-none {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-none;
  }
}

@mixin gl-md-display-none {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-none;
  }
}

@mixin gl-lg-display-none {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-none;
  }
}

@mixin gl-display-flex {
  display: flex;
}

@mixin gl-xs-display-flex {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-flex;
  }
}

@mixin gl-sm-display-flex {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-flex;
  }
}

@mixin gl-md-display-flex {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-flex;
  }
}

@mixin gl-lg-display-flex {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-flex;
  }
}

@mixin gl-display-inline-flex {
  display: inline-flex;
}

@mixin gl-xs-display-inline-flex {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-inline-flex;
  }
}

@mixin gl-sm-display-inline-flex {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-inline-flex;
  }
}

@mixin gl-md-display-inline-flex {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-inline-flex;
  }
}

@mixin gl-lg-display-inline-flex {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-inline-flex;
  }
}

@mixin gl-display-block {
  display: block;
}

@mixin gl-xs-display-block {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-block;
  }
}

@mixin gl-sm-display-block {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-block;
  }
}

@mixin gl-md-display-block {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-block;
  }
}

@mixin gl-lg-display-block {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-block;
  }
}

@mixin gl-display-inline {
  display: inline;
}

@mixin gl-xs-display-inline {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-inline;
  }
}

@mixin gl-sm-display-inline {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-inline;
  }
}

@mixin gl-md-display-inline {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-inline;
  }
}

@mixin gl-lg-display-inline {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-inline;
  }
}

@mixin gl-display-inline-block {
  display: inline-block;
}

@mixin gl-xs-display-inline-block {
  @include gl-media-breakpoint-down(sm) {
    @include gl-display-inline-block;
  }
}

@mixin gl-sm-display-inline-block {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-inline-block;
  }
}

@mixin gl-md-display-inline-block {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-inline-block;
  }
}

@mixin gl-lg-display-inline-block {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-inline-block;
  }
}

@mixin gl-display-table {
  display: table;
}

@mixin gl-display-table-row {
  display: table-row;
}

@mixin gl-display-table-cell {
  display: table-cell;
}

@mixin gl-display-grid {
  display: grid;
}

@mixin gl-sm-display-table-cell {
  @include gl-media-breakpoint-up(sm) {
    @include gl-display-table-cell;
  }
}

@mixin gl-md-display-table-cell {
  @include gl-media-breakpoint-up(md) {
    @include gl-display-table-cell;
  }
}

@mixin gl-lg-display-table-cell {
  @include gl-media-breakpoint-up(lg) {
    @include gl-display-table-cell;
  }
}

@mixin gl-display-contents {
  display: contents;
}
